# Virtual environments
.venv
*.venv

# Build artifacts
build
dist
*.egg-info
.eggs

# Python cache
__pycache__
*.pyc
*.pyo

# Testing
.pytest_cache
.coverage
.coverage.*
htmlcov
coverage.xml

# IDE
.idea
.vscode
*.iml

# Type checking
.mypy_cache

# Databricks
.databricks