# Virtual environments
.venv
*.venv
venv/
.backups
# Build artifacts
build
dist
*.egg-info
.eggs

# Python cache
__pycache__
*.pyc
*.pyo

# Testing
.pytest_cache
.coverage
.coverage.*
htmlcov
coverage.xml

# IDE
.idea
.vscode
*.iml

# Type checking
.mypy_cache

# Databricks
.databricks

# Rust build artifacts
target/
Cargo.lock
*.so
*.pyd
*.dylib

# Maturin
*.whl
