name: Test Workflow

on:
  workflow_call:
    inputs:
        os:
            required: true
            type: string
        pyVersion:
            required: true
            type: string

jobs:
  test:
    strategy:
        fail-fast: false
    runs-on:
      group: databricks-protected-runner-group
      labels: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unshallow
        run: git fetch --prune --unshallow

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.pyVersion }}

      - name: Run tests
        run: make dev test
